.form{
    display: inline-block;
    background: #f8f8f8;
    float: right;
}

.innerForm{
    position: relative;
    top:-2em;
    width:75em;
    height:150em;
    padding-top:1em;
    background: #fff;
    margin: 0 0 1em 2em;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}