.GdprButton{
  border: none;
  background-color: transparent;/*#993333*/
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  transition-duration: 0.4s;
};

.GdprButton:hover{
  color: #FF4E50;
};

.GdprButton:focus{
  outline: none;
};