.label{
  display: block;
  position: relative;
  top:-1.7em;
  left:1em;
  color: #707070;
  font-weight: bold;
  font-size: 1.3em;
  transition: all 0.3s ease-out;
  z-index: 1;
  cursor: pointer;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  
}

.inputField{
  display: block;
  background: none;
  color:#404040;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 1.1em;
  height:1.5em;
  padding: 1em 0em 0.4em 0.7em;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  z-index:2;
  cursor: pointer;
}

.inputField:hover{
  background-color: #E2E2E2;
}

.inputField:focus, 
.inputField:valid{
  outline: none;
  border:1px solid #404040;
  background: white;
}

.inputField:focus + .label, 
.inputField:valid + .label{
  font-size: 0.9em;
  top:-3.6em;
  padding:0.25em;
}

.container{
  display: inline-block;
  overflow: hidden;
}

.testLabel{
  color:#707070
}

.testLabel:focus{
  color:#707070
}