label{
  display: block;
  position: relative;
  top:-1.8em;
  left:0.8em;
  color: #707070;
  font-weight: bold;
  font-size: 1em;
  transition: all 0.3s ease-out;
  z-index: 1;
  cursor: pointer;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

input{
  display: block;
  position: relative;
  background: none;
  border: none;
  color:#404040;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  height:1em;
  padding: 1.2em 0.4em 0.5em 0.5em;
  border-radius: 5px;
  z-index:2;
  cursor: pointer;
}


input:focus, 
input:valid{
  outline: none;
  border:2px solid #404040;
  background: white;
}

input:focus + label, 
input:valid + label{
  top: -3.8em;
  font-size: 0.7em;
  z-index: 2;
}

.greyBackground{
  display:inline-block;
  background: #EEEEEE;
  height:3.05em;
  border-radius: 5px;
  overflow: hidden;
}

.greyBackground:hover{
  background-color: #E2E2E2;
}


