.button{
  display:inline-block;
  background: #EEEEEE;
  border:none;
  padding:0.9em 1.75em;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: #707070;
  font-size: 1em;
  font-weight: bold;
  transition: all 0.5s ease-out;
}

.button:hover{
  background-color: #E2E2E2;
}

.button:focus{
  outline: none;
}