.tooltipContainer{
  display:inline-block;
  width: 100%;
  height:100%;
  background-color: #cccccc;
  /*border-bottom: 2px solid #CCCCCC;*/
  box-sizing:border-box;
}

.formContainer{
  display:inline-block;
  border-bottom: 2px solid #E2E2E2;
  /*border-left: 2px solid #dddddd;*/
  width: 100%;
  height:100%;
  box-sizing:border-box;
}

h2{
  padding: 0.5em 0 0 1.7em;
  font-size: 1.8em;
}

h3{
  font-size: 1.4em;
}

.rowTitle{
  display:inline-block;
  margin:0;
  font-size: 1.3em;
  padding: 1em 0.1em 0.1em 0.5em;
}

.tooltipText{
  font-size: 1em;
  color: #fff;
}