/****** Body Style *********/
/*   Grid   */

.grid {
    width: 60em;
    height: 30em;
    display:grid;
    grid-template: "text form" 1fr / 1fr 2fr;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 30px;
  }
  
.textSide{
    grid-area: text;
    width:100%;
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(#FF4E50 10%, #8A2B3C 90%); /*#8A2B3C  #9A2F42*/ 
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
  }

.textContainer{
    width:70%;
    text-align: center;
    margin: 0 auto 0 auto;
}

/*   Form Side Grid   */
.formSide{
    grid-area: form;
    width: 100%;
    background-color: white;
    box-shadow: inset 3px 0px 6px rgba(0,0,0,0.2);
    display: grid;
    justify-content: center;
}
  
.title{
    height: 6.5em;
    display: grid;
    justify-content: center;
}

.textContent{
    height:6.5em;
    width: 35em;
    margin-top: 3em;
    display: grid;
    justify-content: center;
}

.formContent{
    display:grid;
    justify-content: center;
    height: 17em;
    width: 35em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.form{
    display: grid;
    justify-content: center;
}
  
 /*   Input   */
input[type=text]{
    padding: 0.5em 0;
    color: black;
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    text-align:center;
    width: 10em;
}
input[type=radio]{
    -webkit-appearance: none;
    width: 0.9em;
    height: 0.9em;
    cursor: pointer;
    background-color: grey;
    border: none;
    border-radius: 50%;
    margin: 1em 1em 0 0;
}
input[type=radio]:checked{
    background-color: #FF4E50;
}
input:focus{
    outline: none;
}

input[type=date]{
    display: inline-block;
    padding: 0.5em 0;
    color: black;
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    text-align:center;
}

/****Extras****/
.progressBarContainer{
    display: grid;
    margin: 2.5em auto 1.5em auto;
    width: 90%;
    height: 1em;
    background-color: white;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  }
  