/****** General Styles *********/
body{
  font-family: 'Roboto', sans-serif;
  color: #707070;
  background: #fff;
}

/****** Body Style *******/
.main{
  display: block;
  margin: 1em auto;
  width: 100%;
  height: 100%;
}